@import "vars";
@import "global";
@import "fonts";
// @import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,700,800);
// @import url(http://fonts.googleapis.com/css?family=Lobster);

//preloader
.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $bg;
    transition: all 0.5s;
    opacity: 1;
}
.preloader-inner {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 30px auto;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $orange;
    animation: preloader-inner-spin 2s linear infinite;
}
.preloader-inner:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $title;
    animation: preloader-inner-spin 3s linear infinite;
}
.preloader-inner:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $yellow;
    animation: preloader-inner-spin 1.5s linear infinite;
}
@keyframes preloader-inner-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
//start logo
#home {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -100px;
    background-attachment: fixed;
    background-color: #222;
    // height: 100%;
    // background-size: 100% 100%;
    // background-position: 150% 10%;
    // padding: 0;
}
.logo-overlay {
    background-color: rgba(0, 0, 0, 0.1);
    background-image: url("../images/pattern.png");
    background-repeat: repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.logotype {
    position: relative;
    animation-name: fade_logo;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
.logo__text {
    font-size: 60px;
    color: $orange;
    @include logo;
    padding: 15px 0 0 15px;
    span {
        position: absolute;
        top: 39px;
        left: 34px;
    }
}

@keyframes fade_logo {
    0% {
        opacity: 0.2;
    }
    20% {
        opacity: 0.45;
    }
    40% {
        opacity: 0.75;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0.6;
    }
    100% {
        opacity: 0.2;
    }
}
.logo__inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    text-align: center;
    transform: translate(0%, -50%);
    padding: 0 15px;
    font-family: Raleway, "Times New Roman", Times, sans-serif;
    font-size: 16px;
    text-transform: none;
    color: #fff;
    font-weight: 300;
    h1 {
        font-size: 40px;
        font-weight: 800;
        margin: 10px;
    }
}

// -----
.iconbox {
    background: #fff;
    border-bottom: 1px solid #d4d4d4;
    text-align: center;
    padding: 40px 20px;
    margin: 0 0 20px;
}
.iconbox-icon {
    margin: 0 0 15px;
    font-size: 32px;
    color: #222;
}

.iconbox-title {
    margin: 0 0 15px;
    padding: 0;
}
//end logo

//start header
.header {
    background-color: #000;
    z-index: 20;
    width: 100%;
    padding: 20px 0;
    // border:  none;
}
.header_fixed {
    position: fixed;
    top: 0;
    left: 0;
}

.header__inner {
    padding: 0px 20px;
}
.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.header__logo {
    font-size: 22px;
    font-weight: 700;
    font-family: Halimun, Raleway, "Times New Roman", Times, sans-serif;
    color: $orange;
}
.menu__list {
    text-align: center;
    display: inline-block;
    margin-bottom: 0;
    li {
        display: inline-block;
        // margin-top: 30px;
        & + li {
            margin-left: 30px;
        }
    }
}
.menu__list li a {
    text-transform: uppercase;
    @include text;
    color: #fff;
    font-size: 13px;
    &:hover,
    &:focus {
        outline: 0;
        color: $orange;
        text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1), 10px 20px 5px rgba(0, 0, 0, 0.05),
            -10px 20px 5px rgba(0, 0, 0, 0.05);
    }
}
.menu__list li.active,
.menu__list li.active a {
    outline: 0;
    color: $orange;
    text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1), 10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
}
.header__logo:hover {
    color: $orange;
}
.sticky-wrapper {
    height: auto !important;
}
//end header

/* ---------------------------------------------- /*
 * Servise
/* ---------------------------------------------- */
#services {
    background-color: $title;
    @include title;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.services__elem {
    // box-shadow: rgba(255, 255, 255, 0.6);
    img {
        position: absolute;
        z-index: 999;
        height: auto;
        z-index: 0;
    }
    .sphere_one {
        opacity: 0.3;
        width: 10%;
        top: 300px;
        left: 250px;
    }
    .sphere_two {
        opacity: 0.5;
        width: 15%;
        top: 1000px;
        right: 240px;
    }
}
.service__info {
    display: flex;
    flex-direction: column;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
.service__title {
    max-width: 308px;
    font-size: 100px;
    text-transform: uppercase;
    color: $orange;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
}
.service__quote {
    align-self: flex-end;
    max-width: 500px;
    font-size: 35px;
    opacity: 0.8;
    margin-right: 100px;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
}
.service__quite-author {
    align-self: flex-end;
    font-size: 18px;
    color: $orange;
    margin: 10px 40px 0 0;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
}
.service_description {
    align-self: center;
    font-size: 45px;
    text-transform: uppercase;
    margin-top: 40px;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
}
.service__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $text;
    color: rgba(0, 0, 0, 0.6);
    padding-bottom: 50px;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}
.service__inner-iconbox {
    background: #fff;
    // border-bottom: 1px solid #d4d4d4;
    text-align: center;
    padding: 40px 20px;
    margin: 0 0 20px;
    width: 330px;
    border-radius: 4px;
}
.iconbox-icon {
    margin: 0 0 15px;
    font-size: 32px;
    color: $orange;
}

.iconbox-title {
    margin: 0 0 15px;
    padding: 0;
    @include title;
    text-transform: uppercase;
    font-size: 23px;
}
.iconbox-desc {
    @include text;
    span {
        font-weight: 700;
    }
}
.iconbox__list {
    padding: 0 10px;
    @include text;
    text-align: left;
    li {
        list-style: outside;
    }
}
.iconbox-disign {
    margin-bottom: 3em;
}
.iconbox__web {
    margin-top: 11em;
    padding-left: 10px;

    background: linear-gradient(
        153deg,
        rgba(255, 238, 50, 1) 5%,
        rgba(255, 209, 0, 1) 25%,
        rgba(248, 204, 1, 1) 50%,
        rgba(32, 32, 32, 1) 97%
    );
}
.iconbox__help {
    margin-bottom: 11em;
    padding-left: 10px;
    background: linear-gradient(
        153deg,
        rgba(255, 238, 50, 1) 5%,
        rgba(255, 209, 0, 1) 25%,
        rgba(248, 204, 1, 1) 50%,
        rgba(32, 32, 32, 1) 97%
    );
}
.disign__item {
    background: linear-gradient(
        153deg,
        rgba(255, 238, 50, 1) 5%,
        rgba(255, 209, 0, 1) 25%,
        rgba(248, 204, 1, 1) 50%,
        rgba(32, 32, 32, 1) 97%
    );
}
.disign__item .iconbox-text .iconbox-title {
    color: #fff;
}
.disign__item .iconbox-text .iconbox-desc {
    color: #fff;
}
.icon-magic-wand {
    color: $title;
}
.iconbox-disign {
    position: relative;
    ::before {
        position: absolute;
        content: " ";
        background-image: url("../images/sphere_bg.png");
        opacity: 0.3;
        width: 10%;
        height: auto;
    }
}

// start skills
#skills {
    background-color: #000;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
}
.skills {
    padding-bottom: 50px;
}
.skills__info {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.skills__title {
    margin: 100px 10px 50px;
    color: $orange;
}

.skill__description {
    margin-bottom: 50px;
}
.chart {
    display: inline-block;
    height: 140px;
    margin: 50px 0;
    position: relative;
    text-align: center;
    width: 140px;
}
.chart canvas {
    left: 0;
    position: absolute;
    top: 0;
}
.percent {
    @include text;
    display: inline-block;
    font-size: 25px;
    font-weight: 400;
    line-height: 140px;
    z-index: 2;
    color: #fff;
}
.percent:after {
    content: "%";
    font-size: 50%;
    margin-left: 0.1em;
}
.text-center {
    @include title;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    // font-weight: 600;
}
// end skills

//start calltoaction
.calltoaction * {
    text-align: center;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
}
.calltoaction {
    // background: url(../images/item-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 80px 0;
    color: #fff;
    position: relative;
}
.calltoaction__overlay {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px 0 25px;
}

.calltoaction h2 {
    @include text;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #fff;
}

.calltoaction-btn {
    text-align: center;
}

.calltoaction-btn > .btn {
    background: rgba(255, 255, 255, 0.8);
    color: #111;
    margin-top: 5px;
    margin-bottom: 5px;
}
.calltoaction-btn > .btn:hover {
    background: #fff;
}

.long-down {
    margin-bottom: 40px;
}
.button__inner {
    position: relative;
}
.calltoaction__button {
    margin-top: 30px;
    @include text;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
    padding-top: 8px;
    width: 120px;
    height: 45px;
    animation: radial-pulse 1s infinite;
}
.calltoaction__button:hover {
    transition: ease-in 0.2s;
    color: $orange;
    animation: none;
    background-color: transparent;
}
@keyframes radial-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5);
    }

    100% {
        box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
    }
}
//end calltoaction

// start contact
#contact {
    background-color: #000;
    padding-bottom: 50px;
}
.contact__inner {
    justify-content: center;
}
.contact__box {
    text-align: center;
    margin: 0 0 60px;
}
.contact__title {
    color: $orange;
    margin: 100px 10px 50px;
}
.contact__description {
    @include text;
    color: #fff;

    a {
        color: rgba($orange, 0.6);
        transition: all ease-in 0.1s;
    }
    a:hover {
        color: $orange;
    }
}
.contact__inner-form {
    justify-content: center;
}
.form-group {
    margin-bottom: 10px;
}
.form-group + .form-group {
    margin-bottom: 20px;
}
.sr-only {
    @include text;
    color: #fff;
    font-size: 15px;
}
.form-control::placeholder {
    font-family: Raleway, "Times New Roman", Times, sans-serif;
    font-weight: 300;
}
.btn__block {
    width: 100%;
    text-align: center;
    font-family: Raleway, "Times New Roman", Times, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    color: #000;
    border-radius: 4px;
    padding: 5px;
    transition: all ease-in 0.2s;
}
.btn__block:hover,
.btn__block:focus,
.btn__block:active,
.btn__block.active {
    outline: inherit !important;
}
.form-control:focus {
    border-color: rgba($orange, 0.8) !important;
    box-shadow: 0 1px 1px rgba(251, 195, 40, 0.075) inset, 0 0 8px rgba(251, 195, 40, 0.6) !important;
}
.ajax-response {
    text-align: center;
}
.btn__block:hover {
    background-color: $orange;
}
// end contact
// start footer
#footer {
    text-align: center;
    padding: 60px 0;
    color: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.copyright {
    margin: 0;
    @include text;
    color: #fff;
    font-size: 14px;
    color: #fff;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
}

#footer span {
    color: rgba($orange, 0.6);
    font-size: 14px;
    transition: all ease-in 0.2s;
}
#footer span:hover {
    color: rgba($orange, 1);
}
.copyright__name {
    font-family: Halimun, Raleway, "Times New Roman", Times, sans-serif;
    font-size: 14px;
    color: $orange !important;
}

.social__links {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}

.social__links li {
    display: inline-block;
    margin: 5px;
}

.social__links a {
    width: 36px;
    height: 36px;
    display: block;
    line-height: 35px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

.social__links a:hover {
    border: 1px solid rgba($orange, 0.6);
    color: rgba($orange, 0.8);
}

//end footer

/* ---------------------------------------------- /*
 * Scroll to top
/* ---------------------------------------------- */

.scroll-up {
    position: fixed;
    display: none;
    z-index: 999;
    bottom: 2em;
    right: 2em;
}

.scroll-up a {
    background-color: rgba(255, 255, 255, 0.5);
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 30px;
}

.scroll-up a:hover,
.scroll-up a:active {
    background-color: rgba(255, 255, 255, 0.8);
    color: $orange;
}

/* ---------------------------------------------- /*
 *Scroll Down
/* ---------------------------------------------- */

.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: -15px;
    display: block;
    z-index: 10;
    text-align: center;
}

.scroll-down span {
    position: relative;
    color: #fff;
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@-webkit-keyframes drop {
    0% {
        top: 0px;
        opacity: 0;
    }
    30% {
        top: 10px;
        opacity: 1;
    }
    100% {
        top: 25px;
        opacity: 0;
    }
}

@keyframes drop {
    0% {
        top: 0px;
        opacity: 0;
    }
    30% {
        top: 10px;
        opacity: 1;
    }
    100% {
        top: 25px;
        opacity: 0;
    }
}

@import "media";
